.payment {
  &__input {
    background: var(--tgui--section_bg_color) !important;
  }

  &__card-number {
    svg {
      fill: var(--tgui--accent_text_color);
    }
  }
  &__exp-cvc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
}
