.page {
  height: 100%;
  background: var(--tgui--secondary_bg_color);

  &--horizontalPadding {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &--verticalPadding {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
