.payment-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  &__lottie {
    width: 70%;
  }

  &__text {
    text-align: center;
  }
}
